:root {
    --main-bg-color: rgba(44, 191, 44, 0.694);
    --blue:  rgba(17, 98, 238, 0.66);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    margin: 40px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background-color: white;
}

.navbar > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.navbar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: stretch;
}

.navbar h1 {
    color: var(--main-bg-color);
    margin-right: 2em;
    margin-left: 2em;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    margin: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: grey;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 100%;
    border-radius: 100px;
    border-width: 15px;
    border-color: white;
    transition: 400ms;
}

.navbar a:hover {
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: var(--main-bg-color);
}



.headings {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    color: var(--blue);
}

.paragraph {
    margin: 50px;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--main-bg-color);
    font-weight: 500;
}

.forms {
    display: flex;
    margin: 50px;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.email {
    margin: 5px;
    font-size: 20px;
    padding: 8px;
    border: 3px solid var(--main-bg-color);
    border-radius: 10px;
}

.pass {
    margin: 5px;
    font-size: 20px;
    padding: 8px;
    border: 3px solid var(--main-bg-color);
    border-radius: 10px;
}

.email:active {
    color: var(--main-bg-color);
}


.pass:active {
    color: var(--main-bg-color);
}

.buttons {
    font-size: 40px;
    display: grid;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    color: white;
}

.b1 {
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    background-color: var(--main-bg-color);
    border-radius: 18px;
    padding: 15px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    transition: 300ms;
    color: white;

}

.b2 {
    margin: 5px;
    color: var(--main-bg-color) !important;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    border-radius: 18px;
    padding: 15px;
    border-color: var(--main-bg-color);
    border-width: 5px;
    border-style: solid;
    transition: 300ms;
}

.b1:visited {
    color: white;
}

.b1:hover {
    background-color: white;
    color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    border-width: 5px;
    border-style: solid;
    transition: 300ms;

}


.b2:visited {
    color: white;
}

.b2:hover {
    background-color: var(--main-bg-color);
    color: white !important;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    transition: 300ms;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 100px;
    padding-left: 50px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--main-bg-color);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  