:root {
    --main-bg-color: rgb(123, 211, 117);
    --blue:  rgba(17, 98, 238, 0.66);

    --color-sample-0:  rgb(123, 211, 117);
    --color-sample-1:  rgb(123, 211, 117);
    --color-sample-2:  rgb(123, 211, 117);
    --color-sample-3:  rgb(123, 211, 117);
    --color-sample-4:  rgb(123, 211, 117);
    --color-sample-5:  rgb(123, 211, 117);
    --color-sample-6:  rgb(123, 211, 117);
    --color-sample-7:  rgb(123, 211, 117);
    --color-sample-8:  rgb(123, 211, 117);
    --color-sample-9:  rgb(123, 211, 117);
    --color-sample-10:  rgb(123, 211, 117);
    --color-sample-11:  rgb(123, 211, 117);
    --color-sample-12:  rgb(123, 211, 117);
    --color-sample-13:  rgb(123, 211, 117);
    --color-sample-14:  rgb(123, 211, 117);
    --color-sample-15:  rgb(123, 211, 117);
    --color-sample-16:  rgb(123, 211, 117);
    --color-sample-17:  rgb(123, 211, 117);
    --color-sample-18:  rgb(123, 211, 117);
    --color-sample-19:  rgb(123, 211, 117);
    --color-sample-20:  rgb(123, 211, 117);
    --color-sample-21:  rgb(123, 211, 117);
    --color-sample-22:  rgb(123, 211, 117);
    --color-sample-23:  rgb(123, 211, 117);
    --color-sample-24:  rgb(123, 211, 117);
    --color-sample-25:  rgb(123, 211, 117);
    --color-sample-26:  rgb(123, 211, 117);
    --color-sample-27:  rgb(123, 211, 117);
    --color-sample-28:  rgb(123, 211, 117);
    --color-sample-29:  rgb(123, 211, 117);
    --color-sample-30:  rgb(123, 211, 117);
    --color-sample-31:  rgb(123, 211, 117);
    --color-sample-32:  rgb(123, 211, 117);
    --color-sample-33:  rgb(123, 211, 117);
    --color-sample-34:  rgb(123, 211, 117);
    --color-sample-35:  rgb(123, 211, 117);
    --color-sample-36:  rgb(123, 211, 117);
    --color-sample-37:  rgb(123, 211, 117);
    --color-sample-38:  rgb(123, 211, 117);
    --color-sample-39:  rgb(123, 211, 117);
    --color-sample-40:  rgb(123, 211, 117);
    --color-sample-41:  rgb(123, 211, 117);
    --color-sample-42:  rgb(123, 211, 117);
    --color-sample-43:  rgb(123, 211, 117);
    --color-sample-44:  rgb(123, 211, 117);
    --color-sample-45:  rgb(123, 211, 117);
    --color-sample-46:  rgb(123, 211, 117);
    --color-sample-47:  rgb(123, 211, 117);
    --color-sample-48:  rgb(123, 211, 117);
    --color-sample-49:  rgb(123, 211, 117);
    --color-sample-50:  rgb(123, 211, 117);
    --color-sample-51:  rgb(123, 211, 117);
    --color-sample-52:  rgb(123, 211, 117);
    --color-sample-53:  rgb(123, 211, 117);
    --color-sample-54:  rgb(123, 211, 117);
    --color-sample-55:  rgb(123, 211, 117);
    --color-sample-56:  rgb(123, 211, 117);
    --color-sample-57:  rgb(123, 211, 117);
    --color-sample-58:  rgb(123, 211, 117);
    --color-sample-59:  rgb(123, 211, 117);
    --color-sample-60:  rgb(123, 211, 117);
    --color-sample-61:  rgb(123, 211, 117);
    --color-sample-62:  rgb(123, 211, 117);
    --color-sample-63:  rgb(123, 211, 117);
    --color-sample-64:  rgb(123, 211, 117);
    --color-sample-65:  rgb(123, 211, 117);

    @for $i from 0 through 99 {
        --color-sample-#{i}: adjust-hue(#{$base-color}, #{$degree*i$i});
    }
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    margin: 40px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background-color: #17141d;
}

.navbar > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.navbar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: stretch;
}

.navbar h1 {
    color: var(--main-bg-color);
    margin-right: 2em;
    margin-left: 2em;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    margin: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: grey;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    line-height: 100%;
    border-radius: 100px;
    border-width: 15px;
    border-color: white;
    transition: 400ms;
}

.navbar a:hover {
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: var(--main-bg-color);
}



.headings {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    color: var(--blue);
}

.paragraph {
    margin: 50px;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--main-bg-color);
    font-weight: 500;
}

.forms {
    display: grid;
    margin: 50px;
    padding-left: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.email {
    margin: 5px;
    font-size: 20px;
    padding: 8px;
    border: 3px solid var(--main-bg-color);
    border-radius: 10px;
}

.pass {
    margin: 5px;
    font-size: 20px;
    padding: 8px;
    border: 3px solid var(--main-bg-color);
    border-radius: 10px;
}

.email:active {
    color: var(--main-bg-color);
}


.pass:active {
    color: var(--main-bg-color);
}

.buttons {
    font-size: 40px;
    display: grid;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    color: white;
}

.b1 {
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    background-color: var(--main-bg-color);
    border-radius: 18px;
    padding: 15px;
    border-color: var(--main-bg-color);
    border-width: 5px;
    border-style: solid;
    transition: 300ms;
    color: white;

}

.b2 {
    margin: 5px;
    color: var(--main-bg-color) !important;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    border-radius: 18px;
    padding: 15px;
    border-color: var(--main-bg-color);
    border-width: 5px;
    border-style: solid;
    transition: 300ms;
}

.b1:visited {
    color: white;
}

.b1:hover {
    background-color: white;
    color: var(--main-bg-color);
    border-color: var(--main-bg-color);
    border-width: 5px;
    border-style: solid;
    transition: 300ms;

}


.b2:visited {
    color: white;
}

.b2:hover {
    background-color: var(--main-bg-color);
    color: white !important;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    transition: 300ms;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 100px;
    padding-left: 50px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--main-bg-color);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .ticker-wrapper {
    position: relatiive;
    max-width: 800px;
    margin: auto;
    padding-top: 200px;
  }


  .text-update{
    height: 70px;
    background: bl#201c29ack;
    overflow:hidden;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    left: 12px;
  }

  .text-update p {
    position: absolute;
    width: 150%;
    margin: 0;
    font-weight: 700;
    text-align: left;

    transform: translateX(100%);
    animation: moving 25s linear infinite;
  }

  @keyframes moving{
      0%{
          transform: translateX(100%);
      }
      100%{
          transform: translateX(-100%);
      }
  }